<!DOCTYPE html>
<html>
<head>
    <title>OctaPHP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container" style="width:800px; border: 1px solid #ccc;margin-top: 50px;box-shadow: 1px 4px 12px 1px rgba(138,138,138,1);border-radius: 5px;">
    <div style="margin-top: 10px;"><h3>Welcome to OctaPHP!</h3></div>
    <hr>

    <div>
        <p>
            The page you are looking at is being generated dynamically by <strong>OctaPHP</strong><br>
            If you would like to edit this page you'll find it located at:
        </p>
    </div>
    <div>
        <div style="border: 1px solid #ccc;height: 40px;color: #008000;"><p style="margin-left: 10px;margin-top: 5px;">application/views/index.php</p></div>
    </div>
    <br>
    <br>

    <div>
        <p>
            The corresponding controller for this page is found at:
        </p>
    </div>
    <div>
        <div style="border: 1px solid #ccc;height: 40px;color: #008000;"><p style="margin-left: 10px;margin-top: 5px;">application/controllers/squeedController.php</p></div>
    </div>
    <br>
    <br>
    <div>
        <p>
            If you are exploring OctaPHP for the very first time, you should start by reading the <a href="https://synestergates788.github.io/octaphp.github.io/" target="_blank">documentation</a>
        </p>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
